{% extends 'PhoneSaleApp/base.html' %}
{% load item_tag %}
{% load static %}
<!----------------- body content ----------------------->
{% block content %}

<div class="container">
    <form class="form-inline">
        <div class="mx-auto" style="width: 100%;">
            <input class="form-control" type="text" placeholder="Search" style="width: 50%;">
            <button class="btn btn-success" type="submit">Tìm kiếm</button>
        </div>
    </form>
  <h3>Phone Sale App</h3>
  <div class="row">
        {% show_results %}
  </div>
</div>
{% endblock content %}