{% extends 'PhoneSaleApp/base.html' %}
<!----------------- body content ----------------------->
{% block content %}

{% load static %}

    {% if product %}
        <div class="container">
            <div class="product-name">
                <h3>{{ product.name }}</h3>
            </div>
            <div class="row">
                <div class="col-lg-4"> 
                    <img src="{{ product.avatar.url }}" width="100%"/>
                </div>
                <div class="col-lg-8"> 
                    <h3>{{ product.price }} VND</h3>
                    <div class="progress-product">
                        <div class="progress" style="width: 70%; ">
                            <div class="progress-bar bg-success" style="width:60%;">60%</div> 
                        </div>
                        <div style="width: 20%; ">còn {{ product.numberRemain }} sản phẩm</div>
                    </div>
                    <br/>
                    <h4>Thông tin mô tả</h4>
                    <p>
                        {{ product.description }}
                    </p>
                </div>
            </div>
        </div>
    {% else %}
        <h1>Sản phẩm này không tồn tại</h1>
    {% endif %}

{% endblock %}
<!----------------- footer ----------------------->
